//META{"name":"cookiedragon234","description":"cookiedragon234s theme","author":"cookiedragon234","version":"1.0"}*//{}

/*
Cant do this cause react, probably need to implement this into a plugin
.member-3-YXUe {
	padding: 0px !important;
}

.membersGroup-v9BXpm {
	padding-top: 10px !important;
	height: 26px !important;
}*/

/* --------- Left Server Bar ------- */
.container-PNkimc {
	background-color: #303235 !important;
}

/* --------- Channel Bar -------- */

.container-1r6BKw {
	background-color: #303235 !important;
}

.theme-dark .children-19S4PO:after {
	background: none !important;
}

/* --------- Member List -------- */

.members-1998pB, #MemberCount {
	background-color: #303235 !important;
}

/* --------- Message form -------- */

.form-2fGMdU {
	background-color: rgba(39, 41, 45, 255) !important;
}

.theme-dark .form-2fGMdU:before {
	display: none !important;
}

.channelTextArea-rNsIhG.channelTextAreaDisabled-8rmlrp {
	display: none !important;
}

/* --------- Messages -------- */

.messages-3amgkR {
	background-color: rgba(39, 41, 45, 255) !important;
}

.message-2qnXI6 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* Contains header and message, grid with 150px for header, and rest for message */
.contents-2mQqc9 {
	margin-left: 0 !important;
	padding-left: 0 !important;
	display: grid !important;
	grid-template-columns: 150px calc(100% - 150px) !important;
}

/* Header is used to contain timestamp and username */
.header-23xsNx {
	display: inline-grid !important;
	grid-template-columns: min-content 1fr !important;
	margin-left: 4px !important;
	float: right !important;
	text-align: right !important;
	width: 150px !important;
}

/* Timestamps, float them left and cap width */
.timestamp-3ZCmNB {
	width: 25px !important;
}
.timestamp-3ZCmNB > span {
	float: left !important;
}

/* Username, align it right and remove overflows */
.username-1A8OIy {
	float: right !important;
	text-align: right !important;
	width: 100% !important;
	margin-left: -9px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
}

/* Remove bot tag as it fucks with grid */
.botTagCompact-29bCci {
	display: none !important;
}

.container-1ov-mD {
	margin-left: 150px !important;
}

/* Join Messages */
.container-3-pyIM {
	position: absolute !important;
	margin-right: -150px !important;
	margin-left: 0 !important;
	padding-left: 10px !important;
}