//META{"name":"cookiedragon234","description":"cookiedragon234s theme","author":"cookiedragon234","version":"1.0"}*//{}

/*
Cant do this cause react, probably need to implement this into a plugin
.member-3-YXUe {
	padding: 0px !important;
}

.membersGroup-v9BXpm {
	padding-top: 10px !important;
	height: 26px !important;
}*/

/* --------- Upload Panel ------- */

.uploadModal-2ifh8j, .da-uploadModal, .footer-3mqk7D, .da-footer {
	background-color: #2b2e31 !important;
}

/* --------- Left Server Bar ------- */
.container-3w7J-x, .privateChannels-1nO12o {
	background-color: #2b2e31 !important;
}

.sidebar-2K8pFh > .panels-j1Uci_ {
	background-color: #2b2e31 !important;
}

/* --------- Channel Bar -------- */

.container-1r6BKw {
	background-color: #2b2e31 !important;
}

.theme-dark .children-19S4PO:after {
	background: none !important;
}

/* --------- Member List -------- */

.members-1998pB, #MemberCount, .membersGroup-v9BXpm, .da-membersGroup, .member-3-YXUe, .da-member {
	background-color: #2b2e31 !important;
}

/* --------- Message form -------- */

.container-2fRDfG { /* Reply info box */
	background-color: #2e3133 !important;
}

.scrollableContainer-2NUZem {
	background-color: #2e3133 !important;
}

.form-2fGMdU {
	background-color: rgba(39, 41, 45, 255) !important;
}

.theme-dark .form-2fGMdU:before {
	display: none !important;
}

.channelTextArea-rNsIhG.channelTextAreaDisabled-8rmlrp {
	display: none !important;
}

/* --------- Messages -------- */

.scrollerInner-2YIMLh {
	background-color: rgba(39, 41, 45, 255) !important;
}

.messages-3amgkR {
	background-color: rgba(39, 41, 45, 255) !important;
}


/* Dont show username for consecutive messages */
.da-timestampVisibleOnHover ~ .da-headerText {
	opacity: 0 !important;
}

.da-message {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


.da-message > .da-repliedMessage {
	margin-left: 0 !important;
	padding-left: 0 !important;
	text-indent: 0 !important;
	
	display: grid !important;
	grid-template-columns: 120px min-content min-content !important;
}

.da-message > .da-repliedMessage > .da-replyBadge {
    width: 100% !important;
    background-color: rgba(0,0,0,0) !important;
}

.da-message > .da-repliedMessage > .da-replyBadge > .da-replyIcon { 
	margin-left: auto !important;
	margin-right: 5px !important;
}

.da-message > .da-repliedMessage > .da-username { 
	margin: 0 0 0 0 !important;
	margin-right: 5px !important;
}

.da-message > .da-contents {
	margin-left: 0 !important;
	padding-left: 0 !important;
	text-indent: 0 !important;
	
	display: grid !important;
	grid-template-columns: 120px calc(100% - 120px) !important;
}

.da-message > .da-contents > .da-header {
	width: 120px !important;
	
	display: grid !important;
	grid-template-columns: min-content min-content !important;
}

/* Username, align it right and remove overflows */
.da-username {
	float: right !important;
	text-align: right !important;
	margin-left: -9px !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	margin-right: 5px !important;
}

.da-headerText {
	width: calc(120px - 40px) !important; 	
}

.da-message > .da-container {
	padding-left: 120px;
}
